{% block form_errors %}
    {% if errors|length > 0 %}
        <ul class="form-errors">
            {% for error in errors %}
                <li style="color: red; font-size: 0.85em;">{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}